body {
	font-family: Arial;
	color: black;
}

.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.topnav {
	overflow: hidden;
	background-color: #3A526F;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 11px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.bottom {
	bottom: 0px;
	position:fixed;
	width:50%;
}

.arrow {
	float: right;
	margin-right:3%;
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.input {
	resize:none;
}
.column {
	float: left;
	padding: 5px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}
.bot {
	position:fixed;
	background-color:white;
	bottom:0;
}
.collapse {
	display:none;
}

span {
	color: green;
	font-size:17px;
}

.ds{
	font-size:50px;
}

.frame
{
	width: 100%;
	height: 100%;
	border: 0;
	allowfullscreen : true;
	transform: scale(1.7);
	bottom : 0;
	transform-origin: 0 0;
}
